{{- if .alacritty.enabled }}

[".config/alacritty/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/alacritty.git"

{{- if .alacritty.font.pragmata }}

["Library/Fonts/PragmataPro"]
type = "git-repo"
url = "git@github.com:sumit-sahrawat/pragmata"

{{- end }}

{{- end }}
