{{- if .lang.haskell }}

[".stack/hooks/ghc-install.sh"]
type = "file"
executable = true
url = "https://raw.githubusercontent.com/haskell/ghcup-hs/master/scripts/hooks/stack/ghc-install.sh"
refreshPeriod = "168h"

{{- end }}
