{{- if .lang.java -}}

[".cache/bazel-eclipse"]
type = "archive"
format = "zip"
exact = true
refreshPeriod = "672h"
url = "https://opensource.salesforce.com/bazel-eclipse/latest/p2-repository.zip"

{{- end }}
