{{- if .app.zsh }}

[".config/fzf/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/fzf.git"
pull.args = ["--quiet"]

[".zsh/powerlevel10k"]
type = "git-repo"
url = "https://github.com/romkatv/powerlevel10k.git"
pull.args = ["--quiet"]

[".zsh/zsh-autopair"]
type = "git-repo"
url = "https://github.com/hlissner/zsh-autopair.git"
pull.args = ["--quiet"]

[".zsh/zsh-autosuggestions"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-autosuggestions.git"
pull.args = ["--quiet"]

[".zsh/zsh-completions"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-completions.git"
pull.args = ["--quiet"]

[".zsh/zsh-history-substring-search"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-history-substring-search.git"
pull.args = ["--quiet"]

[".zsh/zsh-syntax-highlighting"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
pull.args = ["--quiet"]

[".zsh/zsh-you-should-use"]
type = "git-repo"
url = "https://github.com/MichaelAquilina/zsh-you-should-use.git"
pull.args = ["--quiet"]

[".zsh/zimfw/completion"]
type = "git-repo"
url = "https://github.com/zimfw/completion.git"
pull.args = ["--quiet"]

[".zsh/zimfw/git"]
type = "git-repo"
url = "https://github.com/zimfw/git.git"
pull.args = ["--quiet"]

{{- end }}
