services:
  valkey:
    container_name: valkey
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    networks:
      - searxng
    volumes:
      - valkey-data2:/data
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  searxng:
    container_name: searxng
    image: docker.io/searxng/searxng:latest
    restart: unless-stopped
    networks:
      - searxng
    ports:
      - "127.0.0.1:{{ .searxng.port }}:8080"
    volumes:
      - ./config:/etc/searxng:rw
      - searxng-data:/var/cache/searxng:rw
    environment:
      - SEARXNG_BASE_URL=http://{{ .searxng.host }}:{{ .searxng.port }}
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  mcp-searxng:
    container_name: mcp-searxng
    image: isokoliuk/mcp-searxng:latest
    restart: unless-stopped
    networks:
      - searxng
    ports:
      - "127.0.0.1:{{ .searxng.mcp.port }}:3000"
    environment:
      - SEARXNG_URL=http://searxng:8080/
      - MCP_HTTP_PORT=3000

networks:
  searxng:

volumes:
  valkey-data2:
  searxng-data:
