{{- if .alacritty.enabled -}}

import = [ "~/.config/alacritty/catppuccin/catppuccin-{{ .ui.palette }}.toml" ]

[font]
size = {{ .terminal.font.size }}

[font.normal]
family = {{ .terminal.font.non_liga_family | quote }}

[window]
option_as_alt = "Both"
startup_mode = "Maximized"

[keyboard]
bindings = [
	{ key = "T", mods = "Command" , action = "CreateNewTab" },
	{ key = "Tab", mods = "Control" , action = "SelectNextTab" },
	{ key = "Tab", mods = "Control|Shift", action = "SelectPreviousTab" },
	{ key = "Slash", mods = "Control", chars = "\u001f" },
]

{{- end }}
