#!/usr/bin/env bash

set -euo pipefail

if ! hash brew >/dev/null; then
  bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --file=/dev/stdin --no-upgrade --quiet <<EOF

################################################################################
# Core CLI Tools
################################################################################

  brew "bat"
  brew "delta"
  brew "eza"
  brew "fd"
  brew "fzf"
  brew "mprocs"
  brew "procs"
  brew "ripgrep"
  brew "sd"
  brew "vivid"

################################################################################
# INPUT
################################################################################

{{- if .input.mouse.linear }}
  cask "linearmouse"
{{- end }}

################################################################################
# UI
################################################################################

{{- if .ui.night_shift.enabled }}
  tap "smudge/smudge"
  brew "smudge/smudge/nightlight"
{{- end }}

################################################################################
# Apps
################################################################################

{{- if .app.direnv }}
  brew "direnv"
{{- end }}

{{- if .app.docker }}
  cask "docker-desktop"
  brew "lazydocker"
{{- end }}

{{- if .app.ghostty }}
  cask "ghostty"
{{- end }}

{{- if .app.git }}
  brew "git"
  brew "git-ignore"
  brew "codeberg-cli"
  brew "gh"
  brew "lazygit"
{{- end }}

{{- if .app.helium }}
  cask "helium-browser"
{{- end }}

{{- if and .app.ghostty (not .terminal.font.pragmata) }}
  cask "font-iosevka-ss08"
{{- end }}

{{- if .app.mpv }}
  brew "mpv"
  brew "yt-dlp"
  brew "aria2"
{{- end }}

{{- if .app.neovim }}
  brew "neovim"
  brew "tree-sitter-cli"
  brew "node"
{{- end }}

{{- if .app.opencode }}
  brew "opencode"
{{- end }}

################################################################################
# Programming Languages
################################################################################

{{- if .lang.bash }}
  brew "bash"
  brew "bats-core"
{{- end }}

{{- if .lang.cpp }}
  brew "cmake"
  brew "meson"
{{- end }}

{{- if .lang.gleam }}
  brew "gleam"
{{- end }}

{{- if .lang.go }}
  brew "go"
{{- end }}

{{- if .lang.groovy }}
  brew "groovysdk"
{{- end }}

{{- if .lang.haskell }}
  brew "ghcup"
{{- end }}

{{- if .lang.java }}
  brew "maven"
  brew "openjdk"
{{- end }}

{{- if .lang.javascript }}
  brew "node"
  brew "npm"
{{- end }}

{{- if .lang.jq }}
  brew "jaq"
{{- end }}

{{- if .lang.lua }}
  brew "lua"
  brew "busted"
  brew "luarocks"
{{- end }}

{{- if .lang.nasm }}
  brew "nasm"
{{- end }}

{{- if .lang.ocaml }}
  brew "ocaml"
  brew "dune"
{{- end }}

{{- if .lang.python }}
  brew "python3"
  brew "uv"
{{- end }}

{{- if .lang.rust }}
  brew "rustup"
{{- end }}

{{- if .lang.scheme }}
  brew "guile"
{{- end }}

{{- if .lang.sqlite }}
  brew "sqlite"
{{- end }}

{{- if .lang.zig }}
  brew "zig"
{{- end }}

EOF
