#!/usr/bin/env bash

set -euo pipefail

{{- $source := joinPath .chezmoi.homeDir ".local/bin/:theme-watcher.swift" }}
{{- $target := joinPath .chezmoi.homeDir ".local/bin/:theme-watcher" }}

{{- if lstat $source }}

# {{ include $source | sha256sum }}

{{- end }}

{{- if .ui.theme.is_auto }}

swiftc {{ $source | quote }} -o {{ $target | quote }}

{{- else }}

if pgrep :theme-watcher >/dev/null; then
	killall :theme-watcher
fi

rm -f {{ $source | quote }} {{ $target | quote }}

{{- end }}
