#!/usr/bin/env bash

set -euo pipefail

# Close any open System Preferences panes, to prevent them from overriding
# settings we’re about to change
osascript -e 'tell application "System Preferences" to quit'

# Enable full keyboard access for all controls
# (e.g. enable Tab in modal dialogs)
defaults write -g AppleKeyboardUIMode -int 3

# Disable the "hold key to select accent" feature which prevents key repeat in GUI apps
defaults write -g ApplePressAndHoldEnabled -bool false

# Set a blazingly fast keyboard repeat rate
defaults write -g InitialKeyRepeat -int {{ div .input.keyboard.repeat.delay 15 }}
defaults write -g KeyRepeat -int {{ div .input.keyboard.repeat.interval 15 }}

# Linear mouse pointer
defaults write -g com.apple.mouse.linear -int {{ ternary 0 1 .input.mouse.linear }}

# Mouse speed multiplication factor
defaults write -g com.apple.mouse.scaling -float 1.0

# Speed up Mission Control animations
defaults write com.apple.dock expose-animation-duration -float 0.1

# Set a standard dock tile size
defaults write com.apple.dock tilesize -int {{ .ui.dock.tilesize }}

# Enable auto-hiding for Dock
defaults write com.apple.dock autohide -bool true

# Remove the auto-hiding Dock delay
defaults write com.apple.dock autohide-delay -float 0

# Remove the animation when hiding/showing the Dock
defaults write com.apple.dock autohide-time-modifier -float 0

# Remove margins around tiled windows
defaults write com.apple.WindowManager EnableTiledWindowMargins -int 0

# .ui.theme.choice: {{ .ui.theme.choice }}

{{- $dark_mode := "" }}
{{- if eq .ui.theme.choice "auto" }}
{{- $dark_mode = "auto" }}
{{- else if eq .ui.theme.choice "dark" }}
{{- $dark_mode = "true" }}
{{- else if eq .ui.theme.choice "light" }}
{{- $dark_mode = "false" }}
{{- end }}

{{- if ne $dark_mode "auto" }}

defaults delete -g AppleInterfaceStyleSwitchesAutomatically &>/dev/null || true
osascript -e 'tell app "System Events" to tell appearance preferences to set dark mode to {{ $dark_mode }}'

{{- else }}

defaults write -g AppleInterfaceStyleSwitchesAutomatically -bool true

{{- end }}

# disable hot corners, including the bottom-right corner for apple notes
for corner in {t,b}{l,r}; do
  defaults write com.apple.dock wvous-${corner}-corner -int 0
done

# Safari Tweaks (need Full Disk Access for Terminal Emulator)
{
  # Open new windows in private browsing mode
  defaults write com.apple.Safari OpenPrivateWindowWhenNotRestoringSessionAtLaunch -bool true
} || {
  EXIT_CODE=$?
  echo "Terminal Emulator needs 'Full Disk Access'"
  exit $EXIT_CODE
}

# Night Shift - sunset to sunrise
nightlight temp {{ .ui.night_shift.temperature }}
nightlight schedule {{ ternary "start" "stop" .ui.night_shift.enabled }}

# Kill affected applications
for app in "cfprefsd" "Dock" "Finder" "SystemUIServer" "WindowManager"; do
  killall "${app}" &>/dev/null
done
