#!/usr/bin/env bash

set -euo pipefail

{{- $plist := joinPath .chezmoi.homeDir "Library/LaunchAgents/com.example.ThemeWatcher.plist" }}
{{- $service := $plist | base | trimSuffix ".plist" }}
{{- $exe := joinPath .chezmoi.homeDir ".local/bin/:theme-watcher" }}

{{- if lstat $plist }}

# {{ include $plist | sha256sum }}
if launchctl list | grep -qF {{ $service | quote }}; then
	launchctl unload {{ $plist | quote }} || true
fi

{{- end }}

{{- if lstat $exe }}

# {{ include $exe | sha256sum }}

{{- end }}

{{- if .ui.theme.is_auto }}

launchctl load {{ $plist | quote }}

{{- else }}

if launchctl list | grep -qF {{ $service | quote }}; then
	launchctl remove {{ $service | quote }}
fi

{{- end }}
