#!/usr/bin/env bash

set -euo pipefail

launchctl remove com.example.KeyRemapping || true

{{- $plist_path := joinPath .chezmoi.homeDir "Library/LaunchAgents/com.example.KeyRemapping.plist" }}

# {{ include $plist_path | sha256sum }}
launchctl load -w {{ $plist_path | quote }}
