#!/usr/bin/env bash

set -euo pipefail

# Close any open System Preferences panes, to prevent them from overriding
# settings we’re about to change
osascript -e 'tell application "System Preferences" to quit'

defaults write 'Apple Global Domain' com.apple.mouse.linear -int {{ ternary 0 1 .input.mouse.linear }}
defaults write 'Apple Global Domain' com.apple.mouse.scaling -float 1.0

defaults write com.apple.dock tilesize -int {{ .ui.dock.tilesize }}

defaults write com.apple.dock wvous-tl-corner -int {{ .ui.hot_corners.top_left.id }}
defaults write com.apple.dock wvous-tl-modifier -int 1048576

defaults write com.apple.dock wvous-tr-corner -int {{ .ui.hot_corners.top_right.id }}
defaults write com.apple.dock wvous-tr-modifier -int 1048576

defaults write com.apple.dock wvous-bl-corner -int {{ .ui.hot_corners.bottom_left.id }}
defaults write com.apple.dock wvous-bl-modifier -int 1048576

defaults write com.apple.dock wvous-br-corner -int {{ .ui.hot_corners.bottom_right.id }}
defaults write com.apple.dock wvous-br-modifier -int 1048576

killall Dock &>/dev/null
