#!/usr/bin/env bash

set -euo pipefail

{{- if .app.llama -}}

{{- $plist_path := joinPath .chezmoi.homeDir "Library/LaunchAgents/com.example.llama.cpp.plist" }}

# {{ include $plist_path | sha256sum }}
launchctl load -w {{ $plist_path | quote }}

{{- end }}
