#!/usr/bin/env bash

set -euo pipefail

{{- $source := joinPath .chezmoi.homeDir ".local/bin/:theme-watcher.swift" }}
{{- $target := joinPath .chezmoi.homeDir ".local/bin/:theme-watcher" }}

{{- if lstat $source }}

# {{ include $source | sha256sum }}

{{- end }}

{{- if eq .ui.theme "auto" }}

swiftc {{ $source | quote }} -o {{ $target | quote }} 

{{- else }}

rm -f {{ $source | quote }} {{ $target | quote }} 

if pgrep :theme-watcher >/dev/null; then
	killall :theme-watcher
fi

{{- end }}
