#!/usr/bin/env bash

set -euo pipefail

if ! hash brew >/dev/null; then
  bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

PACKAGES=(

################################################################################
# Core CLI Tools
################################################################################

  bat
  eza
  fd
  fzf
  mprocs
  procs
  ripgrep
  sd
  vivid

################################################################################
# INPUT
################################################################################

{{- if .input.mouse.linear }}
  homebrew/cask/linearmouse
{{- end }}

################################################################################
# UI
################################################################################

{{- if .ui.night_shift.enabled }}
  smudge/smudge/nightlight
{{- end }}

################################################################################
# Apps
################################################################################

{{- if .app.chatgpt }}
  homebrew/cask/chatgpt
{{- end }}

{{- if .app.direnv }}
  direnv
{{- end }}

{{- if .app.docker }}
  homebrew/cask/docker-desktop
  lazydocker
{{- end }}

{{- if .app.ghostty }}
  homebrew/cask/ghostty
{{- end }}

{{- if .app.git }}
  git
  git-delta
  git-ignore
  codeberg-cli
  gh
  lazygit
{{- end }}

{{- if .app.helium }}
  homebrew/cask/helium-browser
{{- end }}

{{- if and .app.ghostty (not .terminal.font.pragmata) }}
  homebrew/cask-fonts/font-iosevka-ss08
{{- end }}

{{- if .app.mpv }}
  mpv
  yt-dlp
  aria2
{{- end }}

{{- if .app.neovim }}
  neovim
  tree-sitter-cli
  node
{{- end }}

{{- if .app.obsidian }}
  homebrew/cask/obsidian
{{- end }}

################################################################################
# Programming Languages
################################################################################

{{- if .lang.bash }}
  bash
  bats-core
{{- end }}

{{- if .lang.cpp }}
  meson
{{- end }}

{{- if .lang.gleam }}
  gleam
{{- end }}

{{- if .lang.go }}
  go
{{- end }}

{{- if .lang.groovy }}
  groovysdk
{{- end }}

{{- if .lang.haskell }}
  ghcup
{{- end }}

{{- if .lang.java }}
  maven
  openjdk
{{- end }}

{{- if .lang.javascript }}
  volta
  node
  npm
  corepack
{{- end }}

{{- if .lang.jq }}
  jaq
{{- end }}

{{- if .lang.lua }}
  lua
  busted
  luarocks
{{- end }}

{{- if .lang.nasm }}
  nasm
{{- end }}

{{- if .lang.ocaml }}
  ocaml
  dune
{{- end }}

{{- if .lang.python }}
  python3
  uv
{{- end }}

{{- if .lang.rust }}
  rustup
{{- end }}

{{- if .lang.scheme }}
  guile
{{- end }}

{{- if .lang.sqlite }}
  sqlite
{{- end }}

{{- if .lang.zig }}
  anyzig
{{- end }}

)

echo "${PACKAGES[@]}" | xargs -r brew install --quiet
