{{- if .app.git -}}

git:
  pagers:
    - pager: delta --paging=never --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
    - pager: delta --paging=never --hyperlinks-file-link-format="lazygit-edit://{path}:{line}" --side-by-side
    - externalDiffCommand: difft --color=always

{{- if .app.neovim }}

os:
  editPreset: "nvim-remote"

{{- end }}

gui:
  nerdFontsVersion: "3"

{{- $theme_path := list ".config/lazygit/catppuccin/themes/" .ui.theme.catppuccin  "/peach.yml" }}
{{ include (joinPath .chezmoi.homeDir $theme_path) | indent 2 }}

{{- end }}
