return {
  {
    "folke/tokyonight.nvim",
    enabled = false,
  },
  {
    "catppuccin/nvim",
    opts = {
      flavour = {{ .ui.theme.catppuccin | quote }},
      integrations = {
        harpoon = true,
      },
      custom_highlights = function(C)
        return {
          WinSeparator = { fg = C.overlay0 },
        }
      end,
    },
  },
  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = "catppuccin",
    },
  }
}
