return {
  {
    "folke/trouble.nvim",
    opts = {
      modes = {
        symbols = {
          win = { position = "top" },
        },
        lsp = {
          win = { position = "top" },
        },
      },
    },
  },
  {
    "folke/todo-comments.nvim",
    opts = {
      highlight = {
        -- vim regex to support both "TOOD:" and "TODO(...):"
        pattern = [[.*<((KEYWORDS)%(\(.{-1,}\))?):]],
      },
      search = {
        -- ripgrep regex to support both "TOOD:" and "TODO(...):"
        pattern = [[\b(KEYWORDS)(\([^\)]*\))?:]],
      },
    },
  },
  {
    -- dyamically change cursor + cursorline colors
    "rasulomaroff/reactive.nvim",
    opts = {
      load = {
        '{{ printf "catppuccin-%s-cursor" .ui.theme.catppuccin }}',
        '{{ printf "catppuccin-%s-cursorline" .ui.theme.catppuccin }}',
      },
    },
  },
  {
    -- harpoon at last cursor position
    "cbochs/grapple.nvim",
    dependencies = {
      { "nvim-tree/nvim-web-devicons", lazy = true },
    },
    opts = {
      scope = "git",
    },
    event = { "BufReadPost", "BufNewFile" },
    cmd = "Grapple",
    keys = function()
      local keys = {
        { "<leader>H", "<cmd>Grapple toggle<cr>", desc = "Harpoon File" },
        { "<leader>h", "<cmd>Grapple toggle_tags<cr>", desc = "Harpoon Quick Menu" },
      }

      for i = 1, 9 do
        table.insert(keys, {
          "<leader>" .. i,
          "<cmd>Grapple select index=" .. i .. "<cr>",
          desc = "Harpoon to File" .. i,
        })
      end
      return keys
    end,
  },
  {
    -- sub-word motions for camel/pascal cased words
    "chrisgrieser/nvim-spider",
    lazy = true,
    keys = {
      {
        "w",
        function()
          require("spider").motion("w")
        end,
        mode = { "n", "o", "x" },
      },
      {
        "e",
        function()
          require("spider").motion("e")
        end,
        mode = { "n", "o", "x" },
      },
      {
        "b",
        function()
          require("spider").motion("b")
        end,
        mode = { "n", "o", "x" },
      },
      {
        "ge",
        function()
          require("spider").motion("ge")
        end,
        mode = { "n", "o", "x" },
      },
    },
  },
}
