{{- if .lang.odin -}}

return {
  {
    "nvim-treesitter/nvim-treesitter",
    opts = {
      ensure_installed = {
        "odin",
      },
    },
  },
  {
    "stevearc/conform.nvim",
    opts = {
      formatters_by_ft = {
        odin = {"odinfmt"}
      },
    },
  },
  {
    "mfussenegger/nvim-dap",
    opts = function()
      local dap = require("dap")
      dap.configurations["odin"] = dap.configurations["cpp"]
    end,
  },
  {
    "neovim/nvim-lspconfig",
    opts = {
      servers = {
        ols = {}
      },
    },
  },
}

{{- end }}
