{{- if ne .chezmoi.os "darwin" -}}
{{-     writeToStdout "[dotfiles] We only support MacOS. Aborting.\n" -}}
{{-     exit 1 -}}
{{- end -}}

[data]

[data.keyboard]
enabled = {{ $keyboard_enabled := promptBoolOnce . "keyboard.enabled" "Setup keyboard" }}{{ $keyboard_enabled }}

{{- if $keyboard_enabled }}
caps2ctrl = {{ promptBoolOnce . "keyboard.caps2ctrl" "Change CapsLock to Control" }}

[data.keyboard.repeat]
delay = 195
interval = 15

{{- end }}

[data.mouse]
enabled = {{ promptBoolOnce . "mouse.enabled" "Setup mouse" }}

[data.ui]
theme = {{ promptChoiceOnce . "ui.theme" "[ui] theme" (list "dark" "light" "auto") | quote }}

[data.git]
enabled = {{ $git_enabled := promptBoolOnce . "git.enabled" "Setup git" }}{{ $git_enabled }}

{{- if $git_enabled }}

{{- $default_git_user_name := "Sumit Sahrawat" }}
{{- $default_git_user_email := "139506625+sumit-sahrawat@users.noreply.github.com" }}
{{- $default_git_user_key := "id_ed25519" }}
{{- $ssh_dir := joinPath .chezmoi.homeDir ".ssh" }}

[data.git.code]
enabled = {{ $git_code_enabled := promptBoolOnce . "git.code.enabled" "Setup git code dir (~/Code)" }}{{ $git_code_enabled }}

{{- if $git_code_enabled }}

[data.git.code.user]
name = {{ promptStringOnce . "git.code.user.name" "[git] code.user.name" $default_git_user_name | quote }}
email = {{ promptStringOnce . "git.code.user.email" "[git] code.user.email" $default_git_user_email | quote }}
key_name = {{ $git_code_user_key_name := promptStringOnce . "git.code.user.key_name" "[git] code.user.key_name" $default_git_user_key }}{{ $git_code_user_key_name | quote }}
key = {{ joinPath $ssh_dir $git_code_user_key_name | quote }}

{{- end }}

[data.git.work]
enabled = {{ $git_work_enabled := promptBoolOnce . "git.work.enabled" "Setup git work dir (~/Work)" }}{{ $git_work_enabled }}

{{- if $git_work_enabled }}

[data.git.work.user]
name = {{ promptStringOnce . "git.work.user.name" "[git] work.user.name" $default_git_user_name | quote }}
email = {{ promptStringOnce . "git.work.user.email" "[git] work.user.email" $default_git_user_email | quote }}
key_name = {{ $git_work_user_key_name := promptStringOnce . "git.work.user.key_name" "[git] work.user.key_name" $default_git_user_key }}{{ $git_work_user_key_name | quote }}
key = {{ joinPath $ssh_dir $git_work_user_key_name | quote }}

{{- end }}

[data.git.personal]
enabled = {{ $git_personal_enabled := promptBoolOnce . "git.personal.enabled" "Setup git personal dir (~/Personal)" }}{{ $git_personal_enabled }}

{{- if $git_personal_enabled }}

[data.git.personal.user]
name = {{ promptStringOnce . "git.personal.user.name" "[git] personal.user.name" $default_git_user_name | quote }}
email = {{ promptStringOnce . "git.personal.user.email" "[git] personal.user.email" $default_git_user_email | quote }}
key_name = {{ $git_personal_user_key_name := promptStringOnce . "git.personal.user.key_name" "[git] personal.user.key_name" $default_git_user_key }}{{ $git_personal_user_key_name | quote }}
key = {{ joinPath $ssh_dir $git_personal_user_key_name | quote }}

{{- end }}

{{- end }}

[data.zsh]
enabled = {{ promptBoolOnce . "zsh.enabled" "Setup zsh" }}

[data.helix]
enabled = {{ promptBoolOnce . "helix.enabled" "Setup helix" }}
executable = "hx"

[data.alacritty]
enabled = {{ $alacritty_enabled := promptBoolOnce . "alacritty.enabled" "Setup alacritty" }}{{ $alacritty_enabled }}

{{- if $alacritty_enabled }}

[data.alacritty.font]
pragmata = {{ promptBoolOnce . "alacritty.font.pragmata" "Use PragmataPro for Alacritty" }}
size = {{ promptIntOnce . "alacritty.font.size" "[alacritty] font size" 16 }}

{{- end }}

[data.bat]
enabled = {{ promptBoolOnce . "bat.enabled" "Setup bat" }}

[data.eza]
enabled = {{ promptBoolOnce . "eza.enabled" "Setup eza" }}

[data.ripgrep]
enabled = {{ promptBoolOnce . "ripgrep.enabled" "Setup ripgrep" }}

[data.fd]
enabled = {{ promptBoolOnce . "fd.enabled" "Setup fd" }}

[data.sd]
enabled = {{ promptBoolOnce . "sd.enabled" "Setup sd" }}

[data.duf]
enabled = {{ promptBoolOnce . "duf.enabled" "Setup duf" }}

[data.dust]
enabled = {{ promptBoolOnce . "dust.enabled" "Setup dust" }}

[data.procs]
enabled = {{ promptBoolOnce . "procs.enabled" "Setup procs" }}

[data.rust]
enabled = {{ promptBoolOnce . "rust.enabled" "Setup rust" }}
