[".config/bat/themes"]
type = "git-repo"
url = "https://github.com/catppuccin/bat.git"

[".config/btop/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/btop.git"

[".config/fzf/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/fzf.git"

[".config/yazi/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/yazi.git"

{{- if .app.ghostty }}

[".config/ghostty/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/ghostty.git"

{{- end }}

{{- if .app.git }}

[".config/delta/themes/catppuccin"]
type = "git-repo"
url = "https://codeberg.org/sumit-sahrawat/catppuccin-delta.git"

[".config/lazygit/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/lazygit.git"

{{- end }}

{{- if .lang.java -}}

[".cache/bazel-eclipse"]
type = "archive"
format = "zip"
exact = true
refreshPeriod = "672h"
url = "https://opensource.salesforce.com/bazel-eclipse/latest/p2-repository.zip"

{{- end }}

{{- if .terminal.font.pragmata }}

["Library/Fonts/PragmataPro"]
type = "git-repo"
url = "git@codeberg.org:sumit-sahrawat/pragmata"

{{- end }}
