{{- if ne .chezmoi.os "darwin" -}}
{{-     writeToStdout "[dotfiles] We only support MacOS. Aborting.\n" -}}
{{-     exit 1 -}}
{{- end -}}

[data]

################################################################################
# INPUT
################################################################################

input.keyboard.caps2ctrl = {{ dig "input" "keyboard" "caps2ctrl" true . }}
input.keyboard.repeat.delay = 195
input.keyboard.repeat.interval = 15

input.mouse.linear = {{ dig "input" "mouse" "linear" true . }}

################################################################################
# UI
################################################################################

ui.theme.catppuccin = {{ $catppuccin := dig "ui" "theme" "catppuccin" "macchinto" . }}{{ $catppuccin | quote }}

ui.theme.is_dark = {{ $is_dark := ne $catppuccin "latte" }}{{ $is_dark }}

ui.night_shift.enabled = {{ dig "ui" "night_shift" "enabled" true . }}
ui.night_shift.temperature = {{ dig "ui" "night_shift" "temperature" 50 . }}

ui.dock.tilesize = {{ dig "ui" "dock" "tilesize" 48 . }}

################################################################################
# Apps
################################################################################

app.direnv = {{ dig "app" "direnv" true . }}

{{- $searxng := dig "app" "searxng" true . }}

app.docker = {{ or $searxng (dig "app" "docker" true .) }}

app.ghostty = {{ $ghostty := dig "app" "ghostty" true . }}{{ $ghostty }}

app.git = {{ $git := dig "app" "git" true . }}{{ $git }}

{{- if $git }}

git.alias.prefix = {{ dig "git" "alias" "prefix" ":g" . | quote }}

{{- $default_name := "Sumit Sahrawat" }}
{{- $default_email := "sumit-sahrawat@noreply.codeberg.org" }}
{{- $default_key_name := "id_ed25519" }}
{{- $ssh_dir := joinPath .chezmoi.homeDir ".ssh" }}

git.global.user.name = {{ dig "git" "global" "user" "name" $default_name . | quote }}
git.global.user.email = {{ dig "git" "global" "user" "email" $default_email . | quote }}
git.global.user.key_name = {{ $global_key_name := dig "git" "global" "user" "key_name" $default_key_name . }}{{ $global_key_name | quote }}
git.global.user.key = {{ joinPath $ssh_dir $global_key_name | quote }}

git.isolated.enabled = {{ $git_isolated := promptBoolOnce . "git.isolated.enabled" "Use isolated directories for git" }}{{ $git_isolated }}

{{- if $git_isolated }}

git.isolated.user.name = {{ dig "git" "isolated" "user" "name" $default_name . | quote }}
git.isolated.user.email = {{ promptStringOnce . "git.isolated.user.email" "Committer email address for isolated dirs" | quote }}
git.isolated.user.key_name = {{ $isolated_key_name := promptStringOnce . "git.isolated.user.key_name" "SSH key name for isolated dirs" }}{{ $isolated_key_name | quote }}
git.isolated.user.key = {{ joinPath $ssh_dir $isolated_key_name | quote }}
git.isolated.dirs = {{ dig "git" "isolated" "dirs" (list) . | toToml }}

{{- end }}

{{- end }}

app.helium = {{ dig "app" "helium" true . }}

app.mpv = {{ dig "app" "mpv" true . }}

app.neovim = {{ $neovim := dig "app" "neovim" true . }}{{ $neovim }}

app.opencode = {{ $opencode := dig "app" "opencode" true . }}{{ $opencode }}

{{- if $opencode }}

opencode.provider.id = {{ promptStringOnce . "opencode.provider.id" "[opencode] Provider ID" | quote }}
opencode.provider.name = {{ promptStringOnce . "opencode.provider.name" "[opencode] Provider Name" | quote }}
opencode.provider.env.baseURL = {{ promptStringOnce . "opencode.provider.env.baseURL" "[opencode] Provider Base URL" | quote }}
opencode.provider.env.apiKey = {{ promptStringOnce . "opencode.provider.env.apiKey" "[opencode] Provider API Key" | quote }}
opencode.provider.models = {{ dig "opencode" "provider" "models" (list) . | toToml }}

{{- end }}

app.searxng = {{ $searxng }}

{{- if $searxng }}

searxng.host = {{ dig "searxng" "host" "localhost" . | quote }}
searxng.port = {{ dig "searxng" "port" 42001 . }}
searxng.mcp.port = {{ dig "searxng" "mcp" "port" 42002 . }}
searxng.secret = {{ dig "searxng" "secret" (output "openssl" "rand" "-hex" "32" | trim) . | quote }}

{{- end }}

app.wezterm = {{ $wezterm := dig "app" "wezterm" true . }}{{ $wezterm }}

app.zsh = {{ dig "app" "zsh" true . }}

{{- if or $ghostty $wezterm }}

terminal.font.pragmata = {{ $pragmata := dig "terminal" "font" "pragmata" true . }}{{ $pragmata }}
terminal.font.family = {{ ternary "PragmataPro Mono Liga" "Iosevka Term SS08" $pragmata | quote }}
terminal.font.size = {{ dig "terminal" "font" "size" 16 . }}

{{- end }}

tool.editor = {{ ternary "nvim" "vim" $neovim | quote }}
tool.merge = {{ ternary "nvimdiff" "vimdiff" $neovim | quote }}

################################################################################
# Programming Languages
################################################################################

lang.bash = {{ dig "lang" "bash" true . }}
lang.cpp = {{ dig "lang" "cpp" true . }}
lang.groovy = {{ dig "lang" "groovy" true . }}
lang.java = {{ dig "lang" "java" true . }}
lang.javascript = {{ dig "lang" "javascript" true . }}
lang.jq = {{ dig "lang" "jq" true . }}
lang.odin = {{ dig "lang" "odin" true . }}
lang.python = {{ dig "lang" "python" true . }}
lang.rust = {{ dig "lang" "rust" true . }}
lang.zig = {{ dig "lang" "zig" true . }}

################################################################################
# Chezmoi
################################################################################

[diff]
pager = "delta"

{{- if $neovim }}

[merge]
command = "nvim"
args = {{ list "-d" "{{ .Destination }}" "{{ .Source }}" "{{ .Target }}" | toToml }}

{{- end }}
