[".config/bat/themes"]
type = "git-repo"
url = "https://github.com/catppuccin/bat.git"
refreshPeriod = "168h"

[".config/btop/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/btop.git"
refreshPeriod = "168h"

[".config/fzf/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/fzf.git"
refreshPeriod = "168h"

[".config/yazi/flavors"]
type = "git-repo"
url = "https://github.com/yazi-rs/flavors.git"
refreshPeriod = "168h"

{{- if .app.ghostty }}

[".config/ghostty/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/ghostty.git"
refreshPeriod = "168h"

{{- end }}

{{- if .app.kitty }}

[".config/kitty/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/kitty.git"
refreshPeriod = "168h"

{{- end }}

{{- if .app.git }}

[".config/delta/themes/catppuccin"]
type = "git-repo"
url = "https://github.com/sumit-sahrawat/catppuccin-delta.git"
refreshPeriod = "168h"

[".config/lazygit/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/lazygit.git"
refreshPeriod = "168h"

{{- end }}

{{- if and .graphical (dig "terminal" "font" "pragmata" false .) }}

["Library/Fonts/PragmataPro"]
type = "git-repo"
url = "git@github.com:sumit-sahrawat/pragmata"
refreshPeriod = "168h"

{{- end }}
