{{- if .app.zsh -}}

# Personal Zsh configuration file. It is strongly recommended to keep all
# shell customization and configuration (including exported environment
# variables such as PATH) in this file or in files sourced from it.
#
# Documentation: https://github.com/romkatv/zsh4humans/blob/v5/README.md.

# https://github.com/romkatv/zsh4humans/blob/v5/tips.md#prompt
POSTEDIT=$'\n\n\e[2A'

zstyle ':z4h:' auto-update      'no'
zstyle ':z4h:bindkey' keyboard  'mac'

zstyle ':z4h:' prompt-at-bottom no
zstyle ':z4h:' start-tmux       no

# Mark up shell's output with semantic information (manually for ghostty).
if test -n "${GHOSTTY_RESOURCES_DIR}"; then
  builtin source -- "${GHOSTTY_RESOURCES_DIR}"/shell-integration/zsh/ghostty-integration
  zstyle ':z4h:' term-shell-integration 'no'
else
  zstyle ':z4h:' term-shell-integration 'yes'
fi

# Accepts partially to match cursor movement in command autosuggestions.
zstyle ':z4h:autosuggestions' forward-char partial-accept
zstyle ':z4h:autosuggestions' end-of-line  partial-accept

# Enable direnv to automatically source .envrc files.
zstyle ':z4h:direnv'         enable {{ ternary "yes" "no" .app.direnv | squote }}
# Hide "loading" and "unloading" notifications from direnv.
zstyle ':z4h:direnv:success' notify 'no'

# Instruct zsh4humans to use fzf from PATH.
zstyle ':z4h:*'               fzf-command fzf

# Recursively traverse directories when TAB-completing files.
zstyle ':z4h:fzf-complete'    recurse-dirs 'yes'

# Enable ('yes') or disable ('no') automatic teleportation of z4h over
# SSH when connecting to specific hosts.
# zstyle ':z4h:ssh:example-hostname'   enable 'yes'
# The default value if none of the overrides above match the hostname.
zstyle ':z4h:ssh:*'                   enable 'no'

# Send these files over to the remote host when connecting over SSH to the
# enabled hosts.
# zstyle ':z4h:ssh:*' send-extra-files '~/.nanorc' '~/.env.zsh'

# Clone additional Git repositories from GitHub.
#
# This doesn't do anything apart from cloning the repository and keeping it
# up-to-date. Cloned files can be used after `z4h init`.

{{- if .app.git }}

# Git Aliases
z4h install zimfw/git

{{- end }}

# Install or update core components (fzf, zsh-autosuggestions, etc.) and
# initialize Zsh. After this point console I/O is unavailable until Zsh
# is fully initialized. Everything that requires user interaction or can
# perform network I/O must be done above. Everything else is best done below.
z4h init || return

# Colors for ls, tree, fd, etc.
export LS_COLORS="{{- output "vivid" "generate" (printf "catppuccin-%s" .ui.theme.catppuccin) | trim -}}"
zstyle ':completion:*' list-colors "${(@s.:.)LS_COLORS}"

# We manually update via :sup so no auto-update for brew.
export HOMEBREW_NO_AUTO_UPDATE=1

# Some tools only use ~/.config instead of ~/Library when this is set
export XDG_CONFIG_HOME=~/.config

export EDITOR={{ .tool.editor | quote }}
export VISUAL={{ .tool.editor | quote }}

export MANPAGER="sh -c 'col -bx | bat --language man --style=plain'"

export JUST_UNSORTED=true

# Extend PATH.
path=(
  ~/.local/bin

{{- if .lang.java }}
  ${HOMEBREW_PREFIX}/opt/openjdk/bin
{{- end }}

{{- if .lang.rust }}
  ~/.cargo/bin
{{- end }}

  $path
)

fpath=(
  ~/.local/share/zsh/site-functions

{{- if .app.docker }}
  ~/.docker/completions
{{- end }}

  $fpath
)

# Make history substring search highlight actually readable with dark themes.
HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND="standout"
HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_NOT_FOUND="standout"

# Use additional Git repositories pulled in with `z4h install`.

{{- if .app.git }}

gprefix={{ .git.alias.prefix | squote }}

zstyle ':zim:git' aliases-prefix "${gprefix}"
z4h load --compile zimfw/git

alias "${gprefix}"=lazygit

# lga = lg with --all
alias "${gprefix}lga"="${gprefix}lg --all"

# lgl = lg with --branches
alias "${gprefix}lgl"="${gprefix}lg --branches"

# cst = commit show stat
alias "${gprefix}cst"="git show --stat"

# aliases without delta [p]lain
alias git-plain='git -c core.pager= -c interactive.diffFilter='
alias ${gprefix}wdp="${aliases[${gprefix}wd]/git/git-plain}"
alias ${gprefix}csp="${aliases[${gprefix}cs]/git/git-plain}"
alias ${gprefix}idp="${aliases[${gprefix}id]/git/git-plain}"
alias ${gprefix}ldp="${aliases[${gprefix}ld]/git/git-plain}"
alias ${gprefix}sdp="${aliases[${gprefix}sd]/git/git-plain}"

# aliases with [s]ide-by-side diffs in delta
alias git-split='git -c delta.side-by-side=true'
alias ${gprefix}wds="${aliases[${gprefix}wd]/git/git-split}"
alias ${gprefix}css="${aliases[${gprefix}cs]/git/git-split}"
alias ${gprefix}ids="${aliases[${gprefix}id]/git/git-split}"
alias ${gprefix}lds="${aliases[${gprefix}ld]/git/git-split}"
alias ${gprefix}sds="${aliases[${gprefix}sd]/git/git-split}"

unset gprefix

{{- end }}

# Define key bindings.
z4h bindkey undo Ctrl+/   Shift+Tab  # undo the last command line change
z4h bindkey redo Option+/            # redo the last undone command line change

z4h bindkey z4h-cd-back    Shift+Left   # cd into the previous directory
z4h bindkey z4h-cd-forward Shift+Right  # cd into the next directory
z4h bindkey z4h-cd-up      Shift+Up     # cd into the parent directory
z4h bindkey z4h-cd-down    Shift+Down   # cd into a child directory

z4h bindkey z4h-accept-line Enter

if test -n "${GHOSTTY_RESOURCES_DIR}"; then
  # extra keybinds to make keys like shift+enter work like enter in ZLE while
  # also supporting separate behavior in TUIs like opencode/claude-code
  bindkey ';2;13~' z4h-accept-line  # shift-enter
  bindkey ';5;13~' z4h-accept-line  # ctrl-enter
  bindkey ';6;13~' z4h-accept-line  # ctrl-shift-enter
  bindkey '9;5u' z4h-accept-line    # ctrl-m
fi

# Autoload functions.
autoload -Uz zmv

# Define functions and completions.
function md() { [[ $# == 1 ]] && mkdir -p -- "$1" && cd -- "$1" }
compdef _directories md

function :bg {
  if [[ ${#} -eq 0 ]]; then
    echo "Usage: ${0} [CMD] [ARGS..]" >&2
    return 1
  fi

  "${@}"&>/dev/null & disown
}

function :sup {
  chezmoi update --init --apply

  brew update
  brew upgrade

  z4h update

  z4h source --compile ~/.zsh/private-update.zsh
}

# Define aliases.

alias c='bat --style=plain'
alias b='bat --style=default'
alias e='${EDITOR}'
alias o='open'
alias q='exit'

{{- if .app.opencode }}

alias ai='opencode'
alias aic='opencode --continue'
alias air='opencode --resume'

{{- end }}

{{- if .app.neovim }}

alias leet='nvim leetcode.nvim'

{{- end }}

# chezmoi
alias :ha='chezmoi add'
alias :hA='chezmoi add --template'
alias :hc='cd {{ .chezmoi.sourceDir | quote }}'
alias :hd='chezmoi diff --init'
alias :he='chezmoi edit --init --apply'
alias :hs='chezmoi edit-config'
alias :hS='chezmoi cat-config'
alias :hm='chezmoi merge'
alias :hp='chezmoi apply --init'
alias :hu='chezmoi update --init'
alias :hU='chezmoi update --init --refresh-externals'

alias ls=eza

# tree: include hidden files, exclude gitignored paths, exclude .git dir
alias :t='eza --tree --git-ignore --ignore-glob .git --all'

# tree: exclude hidden files, exclude gitignored paths, exclude .git dir
alias :tA='eza --tree --git-ignore --ignore-glob .git'

# tree: include hidden files, include gitignored paths, exclude .git dir
alias :tG='eza --tree --ignore-glob .git --all'

# tree: exclude hidden files, include gitignored paths, exclude .git dir
alias :tGA='eza --tree --ignore-glob .git'

{{- if .app.mpv }}

alias :mpv=':bg mpv'

function :yt {
  yt-dlp "${@}" --exec "mpv %(filepath,_filename|)q&>/dev/null & disown"
}

{{- end }}

# Set shell options: https://zsh.sourceforge.io/Doc/Release/Options.html.

## Completion

setopt ALWAYS_TO_END          # Move cursor to the end of a completed word.
unsetopt AUTO_CD              # Require an explicit call to cd to change directories.
setopt AUTO_LIST              # Automatically list choices on ambiguous completion.
setopt AUTO_MENU              # Show completion menu on a successive tab press.
setopt AUTO_PARAM_SLASH       # If completed parameter is a directory, add a trailing slash.
setopt COMPLETE_IN_WORD       # Complete from both ends of a word.
unsetopt LIST_TYPES           # Do not show file types with a trailing mark.
unsetopt MENU_COMPLETE        # Do not autoselect the first completion entry.

## Expansion and Globbing

setopt EXTENDED_GLOB          # Needed for file modification glob modifiers with compinit.

## History

setopt BANG_HIST              # Treat the '!' character specially during expansion.
setopt EXTENDED_HISTORY       # Write the history file in the ':start:elapsed;command' format.
setopt SHARE_HISTORY          # Share history between all sessions.
setopt HIST_EXPIRE_DUPS_FIRST # Expire a duplicate event first when trimming history.
setopt HIST_IGNORE_DUPS       # Do not record an event that was just recorded again.
setopt HIST_IGNORE_ALL_DUPS   # Delete an old recorded event if a new event is a duplicate.
setopt HIST_FIND_NO_DUPS      # Do not display a previously found event.
setopt HIST_IGNORE_SPACE      # Do not record an event starting with a space.
setopt HIST_SAVE_NO_DUPS      # Do not write a duplicate event to the history file.
setopt HIST_VERIFY            # Do not execute immediately upon history expansion.
setopt HIST_BEEP              # Beep when accessing non-existent history.

## Input/Output

setopt INTERACTIVE_COMMENTS   # Enable comments in interactive shell.
setopt PATH_DIRS              # Perform path search even on command names with slashes.
unsetopt FLOW_CONTROL         # Disable start/stop characters in shell editor.

## Job Control

setopt AUTO_RESUME            # Attempt to resume existing job before creating a new process.
unsetopt BG_NICE              # Don't run all background jobs at a lower priority.
unsetopt CHECK_JOBS           # Don't report on jobs when shell exit.
unsetopt HUP                  # Don't kill jobs on shell exit.
setopt LONG_LIST_JOBS         # List jobs in the long format by default.
setopt NOTIFY                 # Report status of background jobs immediately.

## Prompting

unsetopt PROMPT_BANG          # Don't treat '!' as a special character in prompt.
unsetopt PROMPT_SUBST         # Don't perform expansion/substitution in prompt.

## Scripts and Functions

setopt C_BASES                # Print hexadecimals in standard C format (0xFF).
setopt MULTIOS                # Perform implicit tees or cats when multiple redirections are attempted.

## Zle

setopt BEEP                   # Beep on error in line editor.

z4h source --compile ~/.zsh/private.zsh

{{- end }}
