{{- if .app.zsh -}}

# Disable alias expansion during ~/.zshrc
setopt NO_ALIASES

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

################################################################################
# https://zsh.sourceforge.io/Doc/Release/Options.html
################################################################################

emulate zsh

## Completion

setopt ALWAYS_TO_END          # Move cursor to the end of a completed word.
setopt AUTO_LIST              # Automatically list choices on ambiguous completion.
setopt AUTO_MENU              # Show completion menu on a successive tab press.
setopt AUTO_PARAM_SLASH       # If completed parameter is a directory, add a trailing slash.
setopt COMPLETE_IN_WORD       # Complete from both ends of a word.
unsetopt LIST_TYPES           # Do not show file types with a trailing mark.
unsetopt MENU_COMPLETE        # Do not autoselect the first completion entry.

## Expansion and Globbing

setopt EXTENDED_GLOB          # Needed for file modification glob modifiers with compinit.

## History

setopt BANG_HIST              # Treat the '!' character specially during expansion.
setopt EXTENDED_HISTORY       # Write the history file in the ':start:elapsed;command' format.
setopt SHARE_HISTORY          # Share history between all sessions.
setopt HIST_EXPIRE_DUPS_FIRST # Expire a duplicate event first when trimming history.
setopt HIST_IGNORE_DUPS       # Do not record an event that was just recorded again.
setopt HIST_IGNORE_ALL_DUPS   # Delete an old recorded event if a new event is a duplicate.
setopt HIST_FIND_NO_DUPS      # Do not display a previously found event.
setopt HIST_IGNORE_SPACE      # Do not record an event starting with a space.
setopt HIST_SAVE_NO_DUPS      # Do not write a duplicate event to the history file.
setopt HIST_VERIFY            # Do not execute immediately upon history expansion.
setopt HIST_BEEP              # Beep when accessing non-existent history.

## Input/Output

setopt INTERACTIVE_COMMENTS   # Enable comments in interactive shell.
setopt PATH_DIRS              # Perform path search even on command names with slashes.
unsetopt FLOW_CONTROL         # Disable start/stop characters in shell editor.

## Job Control

setopt AUTO_RESUME            # Attempt to resume existing job before creating a new process.
setopt LONG_LIST_JOBS         # List jobs in the long format by default.
setopt NOTIFY                 # Report status of background jobs immediately.
unsetopt BG_NICE              # Don't run all background jobs at a lower priority.
unsetopt CHECK_JOBS           # Don't report on jobs when shell exit.
unsetopt HUP                  # Don't kill jobs on shell exit.

## Prompting

unsetopt PROMPT_BANG          # Don't treat '!' as a special character in prompt.
unsetopt PROMPT_SUBST         # Don't perform expansion/substitution in prompt.

## Scripts and Functions

setopt C_BASES                # Print hexadecimals in standard C format (0xFF).
setopt MULTIOS                # Perform implicit tees or cats when multiple redirections are attempted.

## Zle

setopt BEEP                   # Beep on error in line editor.

################################################################################
# https://zsh.sourceforge.io/Doc/Release/Parameters.html
################################################################################

HISTFILE="${HOME}/.zsh_history"
HISTSIZE='1000000000'
SAVEHIST='1000000000'

PROMPT_EOL_MARK='%K{red} %k'   # mark the missing \n at the end of a comand output with a red block
WORDCHARS=''                   # only alphanums make up words in word-based zle widgets
ZLE_REMOVE_SUFFIX_CHARS=''     # don't eat space when typing '|' after a tab completion
KEYTIMEOUT=20                  # wait for 200ms for the continuation of a key sequence
zle_highlight=('paste:none')   # disable highlighting of text pasted into the command line

################################################################################
# https://zsh.sourceforge.io/Doc/Release/Zsh-Line-Editor.html
################################################################################

bindkey -e

################################################################################
# https://zsh.sourceforge.io/Doc/Release/Zsh-Modules.html
################################################################################

zmodload zsh/datetime
zmodload -F zsh/files b:{zf_mv,zf_rm}
zmodload -F zsh/stat b:zstat

###############################################################################
# Environment

export HOMEBREW_NO_AUTO_UPDATE=1

export -T MANPATH=${MANPATH:-:} manpath
export -T INFOPATH=${INFOPATH:-:} infopath
typeset -gaU cdpath fpath mailpath path manpath infopath

# Import standard paths
{{ output "/usr/libexec/path_helper" }}

# Import brew environment
{{ output "brew" "shellenv" "zsh" }}

# Colors for ls, tree, fd, etc.
export LS_COLORS="{{- output "vivid" "generate" (list "catppuccin" .ui.theme.catppuccin | join "-") | trim -}}"

export XDG_CONFIG_HOME=~/.config

export EDITOR={{ ternary "nvim" "vi" .app.neovim }}
export VISUAL="${EDITOR}"

{{- if .app.bat }}

export MANPAGER="sh -c 'col -bx | bat --language man --style=plain'"

{{- end }}

# Extend PATH.
path=(
  ~/.local/bin

{{- if .lang.haskell }}
  ~/.cabal/bin
  ~/.ghcup/bin
{{- end }}

{{- if .lang.java }}
  ${HOMEBREW_PREFIX}/opt/openjdk/bin
{{- end }}

{{- if .lang.rust }}
  ~/.cargo/bin
{{- end }}

  $path
)

fpath=(
  "${HOMEBREW_PREFIX}/share/zsh-completions"
  ~/.local/share/zsh/site-functions

{{- if .app.git }}
  ~/.zsh/zimfw/git/functions
{{- end }}

{{- if .app.docker }}
  ~/.docker/completions
{{- end }}

  $fpath
)

{{- if .lang.go }}

export GOPATH=~/.go

{{- end }}

###############################################################################
# Load additional plugins/scripts

# A helper to autoload multiple files based on their basename
autoload -Uz :autoload

# A helper to source files and also compile them if needed
:autoload ~/.local/share/zsh/site-functions/*

# zsh-autosuggestions
:source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh

if test -n "${GHOSTTY_RESOURCES_DIR}"; then
  builtin source -- "${GHOSTTY_RESOURCES_DIR}"/shell-integration/zsh/ghostty-integration
fi

for partial_widget in {,vi-}forward-char; do
  ZSH_AUTOSUGGEST_PARTIAL_ACCEPT_WIDGETS+=(${partial_widget})
  ZSH_AUTOSUGGEST_ACCEPT_WIDGETS=(${ZSH_AUTOSUGGEST_ACCEPT_WIDGETS:#${partial_widget}})
done

# zsh-syntax-highlighting
:source ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# zsh-syntax-highlighting
:source ~/.zsh/zsh-history-substring-search/zsh-history-substring-search.zsh

bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down

bindkey -M emacs '^P' history-substring-search-up
bindkey -M emacs '^N' history-substring-search-down

HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND="standout"
HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_NOT_FOUND="standout"

# zsh-autopair
:source ~/.zsh/zsh-autopair/autopair.zsh

# zsh-you-should-use
:source ~/.zsh/zsh-you-should-use/you-should-use.plugin.zsh

# zimfw/completion
:source ~/.zsh/zimfw/completion/init.zsh

# Homebrew's command-not-found handler
:source "${HOMEBREW_REPOSITORY}/Library/Homebrew/command-not-found/handler.sh"

# Source additional local files if they exist.
:source --skip ~/.profile
:source --skip ~/.bashrc
:source --skip ~/.zsh/private.zsh

###############################################################################
# Aliases

# Basics
{{- if .app.bat }}
alias c='bat --style=plain'
alias b='bat --style=default'
{{- else }}
alias c='cat'
{{- end }}
alias e='${EDITOR}'
alias o='open'
alias q='exit'

# System upgrade
function :sup {
  chezmoi update --init --apply --refresh-externals
  brew upgrade

{{- if .lang.rust }}
  rustup update
{{- end }}
}

# chezmoi
alias :ha='chezmoi add'
alias :hA='chezmoi add --template'
alias :hc='cd {{ .chezmoi.sourceDir | quote }}'
alias :hd='chezmoi diff --init'
alias :he='chezmoi edit --init --apply'
alias :hs='chezmoi edit-config'
alias :hS='chezmoi cat-config'
alias :hm='chezmoi merge'
alias :hp='chezmoi apply --init'
alias :hu='chezmoi update --init'
alias :hU='chezmoi update --init --refresh-externals'

{{- if .app.git }}

# zimfw/git
:autoload ~/.zsh/zimfw/git/functions/*(N)

gprefix=':g'

zstyle ':zim:git' aliases-prefix "${gprefix}"
:source ~/.zsh/zimfw/git/init.zsh

alias "${gprefix}"=lazygit

# lga = lg with --all
alias "${gprefix}lga"="${gprefix}lg --all"

# lgl = lg with --branches
alias "${gprefix}lgl"="${gprefix}lg --branches"

# cst = commit show stat
alias "${gprefix}cst"="git show --stat"

unset gprefix

{{- end }}

{{- if .app.eza }}

alias ls=eza

# tree: include hidden files, exclude gitignored paths, exclude .git dir
alias :t='eza --tree --git-ignore --ignore-glob .git --all'

# tree: exclude hidden files, exclude gitignored paths, exclude .git dir
alias :tA='eza --tree --git-ignore --ignore-glob .git'

# tree: include hidden files, include gitignored paths, exclude .git dir
alias :tG='eza --tree --ignore-glob .git --all'

# tree: exclude hidden files, include gitignored paths, exclude .git dir
alias :tGA='eza --tree --ignore-glob .git'

{{- end }}

{{- if .app.mpv }}

function :mpv {
  mpv "${@}" </dev/null &>/dev/null & disown
}

function :yt {
  yt-dlp "${@}" --exec "mpv %(filepath,_filename|)q </dev/null &>/dev/null & disown"
}

{{- end }}

{{- end }}

###############################################################################
# Powerlevel10k Prompt Theme

:source ~/.zsh/powerlevel10k/powerlevel10k.zsh-theme
:source ~/.p10k.zsh

# Re-enable alias expansion for interactive usage
setopt ALIASES
