{{- if .app.lm_studio -}}

{
  "language": "en",
  "downloadsFolder": {{ joinPath .chezmoi.homeDir ".lmstudio/models" | quote }},
  "sidebar": {
    "showButtonNames": false,
    "monochromeSidebarIcons": true
  },
  "configs": {
    "expandConfigsOnClick": true
  },
  "chat": {
    "showSuggestionsOnNewChat": true,
    "allowOnlyOneNewChat": true,
    "alwaysShowPromptTemplate": false,
    "useShiftEnterToSendMessage": false,
    "useKeychordToRegenerate": true,
    "unloadPreviousModelOnSelect": true,
    "highlightChatMessageOnHover": true,
    "doubleClickMessageToEdit": false,
    "doubleClickChatCellRenames": false,
    "aiNamingMode": "auto",
    "autoExpandReasoningBlocks": false,
    "reasoningBlocksVignette": true,
    "messageGenInfoMode": "lastMessage",
    "visualizeSpeculativeDecoding": false,
    "chatFullWidth": false,
    "neverAskForToolConfirmation": false,
    "skipToolConfirmationPatterns": [
{{- if .app.searxng }}
      "mcp/searxng-http:*"
{{- end }}
    ],
    "showChatUtilityMenuLabels": true,
    "pinnedPlugins": [],
    "showRoleAndInsertButtons": false,
    "showSyncInputToggleInFooter": true,
    "scrollLastMessageToTop": "scrollToTopNoLatch",
    "showTokenCountInChatListings": false,
    "moveDeletedItemsToTrash": true,
    "sidebarSort": {
      "field": "createdAt",
      "direction": "desc"
    },
    "showSpringboardWhenClosingAllTabsInSplit": false,
    "imageInputs": {
      "userMaxImageDimensionPixelsEnabled": true,
      "userMaxImageDimensionPixels": 2048,
      "ignoreModelPreferredMaxImageDimension": false
    }
  },
  "developer": {
    "showExperimentalFeatures": false,
    "experimentalLoadPresets": false,
    "backendDownloadChannel": "stable",
    "appUpdateChannel": "stable",
    "showDebugInfoBlocksInChat": false,
    "showModelDownloadOptionData": false,
    "showResourceConsumptionWidget": false,
    "allowDevelopmentPlugins": true,
    "unloadPreviousJITModelOnLoad": true,
    "jitModelTTL": {
      "enabled": true,
      "ttlSeconds": 3600
    },
    "autoUpdateExtensionPacks": true,
    "autoDeleteExtensionPacks": true,
    "separateReasoningContent": false,
    "experimentFlags": [],
    "apiPredictionHistoryEviction": {
      "type": "time",
      "ttlDays": 30
    },
    "syncedChatInputGuardrails": {
      "syncSendMaxModels": 4,
      "syncSendGlobalTabCap": 10
    },
    "syncedChatSend": {
      "sendMode": "simultaneous"
    },
    "attemptedInstallLmsCliOnStartup": true
  },
  "ui": {
    "missionControlFullscreen": false,
    "showModelFileNameInMyModels": false,
    "configureLoadParamsBeforeLoad": false,
    "alwaysOpenModelLoaderFromPicker": false,
    "contextDisplayMode": "percentage",
    "appNavigationBarPosition": "left",
    "showTabStripScrollBar": false,
    "tabStripFullStripStyle": false,
    "openDownloadsPaneOnStartNewModelDownload": true
  },
  "configPresetInclusiveness": {
    "speculativeDecoding": false
  },
  "toggledConfigDropdowns": [],
  "userInterfaceComplexityLevel": 0,
  "developerMode": true,
  "appFirstLoad": false,
  "autoLoadBundledLLM": true,
  "modelLoadingGuardrails": {
    "mode": "medium",
    "customThresholdBytes": 4294967296,
    "alwaysAllowLoadAnyway": false
  },
  "dismissedModals": [
    "0.4.0 Onboarding",
    "REST API Onboarding",
    "Server Settings New Features",
    "Trash Deletion Onboarding",
    "mcp.json Warning"
  ],
  "dismissedConversationSnackbars": [],
  "pre030ChatsMigrated": 3,
  "appPostUpdateNotificationPending": false,
  "promptWhenCommittingUnsavedChangesWithNewFields": false,
  "enableLocalService": true,
  "cliInstalled": false,
  "useHFProxy": true,
  "hfSearchToken": "",
  "hfDownloadToken": "",
  "defaultContextLength": {
    "type": "max",
    "value": 4096
  },
  "appIntroAcceptedForBuild": null
}

{{- end -}}
