{{ .git.global.user.email }} {{ output "cat" (printf "%s.pub" .git.global.user.key) | trim }}

{{- if .git.work.enabled }}
{{ .git.work.user.email }} {{ output "cat" (printf "%s.pub" .git.work.user.key) | trim }}
{{- end }}
