{{ if .git.code.enabled -}}
{{ .git.code.user.email }} {{ output "cat" (printf "%s.pub" .git.code.user.key) | trim }}
{{ end -}}
{{ if .git.work.enabled -}}
{{ .git.work.user.email }} {{ output "cat" (printf "%s.pub" .git.work.user.key) | trim }}
{{ end -}}
