{{ if .git.code.enabled -}}
{{ .git.code.user.email }} {{ output "cat" (print .git.code.user.key | replaceAllRegex "(\\.pub|$)" ".pub") | trim }}
{{ end -}}
{{ if .git.work.enabled -}}
{{ .git.work.user.email }} {{ output "cat" (print .git.work.user.key | replaceAllRegex "(\\.pub|$)" ".pub") | trim }}
{{ end -}}
{{ if .git.personal.enabled -}}
{{ .git.personal.user.email }} {{ output "cat" (print .git.personal.user.key | replaceAllRegex "(\\.pub|$)" ".pub") | trim }}
{{ end -}}
