{{- if .git.enabled -}}

[column]
	ui = auto
[branch]
	sort = -committerdate
[diff]
	external = difft
[fetch]
	prune = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
{{- if .git.code.enabled }}
[includeIf "gitdir:~/Code/**"]
	path = ~/Code/.gitconfig
{{- end }}
{{- if .git.work.enabled }}
[includeIf "gitdir:~/Work/**"]
	path = ~/Work/.gitconfig
{{- end }}
{{- if .git.personal.enabled }}
[includeIf "gitdir:~/Personal/**"]
	path = ~/Personal/.gitconfig
{{- end }}

{{- end }}
