{{- if .app.git -}}

{{ .git.codeberg.email }} {{ output "cat" (printf "%s.pub" .git.codeberg.key) | trim }}
{{ .git.github.email }} {{ output "cat" (printf "%s.pub" .git.github.key) | trim }}

{{- if .git.isolated.enabled }}
{{ .git.isolated.user.email }} {{ output "cat" (printf "%s.pub" .git.isolated.user.key) | trim }}
{{- end }}

{{- end }}
