{{- if .app.git -}}
{{ $ssh_dir := joinPath .chezmoi.homeDir ".ssh" -}}
{{ range .git.rules -}}
{{ .user.email }} {{ output "cat" (printf "%s.pub" (joinPath $ssh_dir .user.key)) | trim }}
{{ end -}}
{{- end }}
