{{- if .git.enabled -}}

[user]
	name = {{ .git.global.user.name }}
	email = {{ .git.global.user.email }}
	signingkey = {{ .git.global.user.key }}
[core]
	sshCommand = "ssh -i {{ .git.global.user.key | squote }} -o IdentitiesOnly=yes"
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	line-numbers = true
	hyperlinks = true
{{- if .kitty.enabled }}
	hyperlinks-file-link-format = "kitty-open-in-editor://{path}:{line}"
{{- end }}
{{- if not .ui.theme.is_auto }}
[include]
	path = ~/.config/delta/themes/catppuccin/catppuccin.gitconfig
[delta]
	features = catppuccin-{{ includeTemplate "ui.catppuccin.palette" . }}
{{- end }}
[merge]
	conflictStyle = zdiff3
[diff]
	colorMoved = default
[column]
	ui = auto
[branch]
	sort = -committerdate
[fetch]
	prune = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
{{- if .git.work.enabled }}
[includeIf "gitdir:~/Work/**"]
	path = ~/Work/.gitconfig
{{- end }}

{{- end }}
