{{- if .app.git -}}

[core]
  excludesFile = ~/.config/git/ignore
[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
  hyperlinks = true
{{- if .app.kitty }}
  hyperlinks-file-link-format = "file://{path}#{line}"
{{- end }}
  relative-paths = true
  features = catppuccin-{{ .ui.theme.catppuccin }}
[include]
  path = ~/.config/delta/themes/catppuccin/catppuccin.gitconfig
[merge]
  tool = {{ .tool.merge }}
[mergetool]
  prompt = false
  keepBackup = false
[mergetool {{ .tool.merge | quote }}]
  layout = "LOCAL,BASE,REMOTE / MERGED"
[merge]
  conflictStyle = zdiff3
[diff]
  colorMoved = default
[column]
  ui = auto
[branch]
  sort = -committerdate
[fetch]
  prune = true
[init]
  defaultBranch = main
[rerere]
  enabled = true
[commit]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers
{{- if or .git.default.name .git.default.email .git.default.key }}
[user]
{{- with .git.default.name }}
  name = {{ . }}
{{- end }}
{{- with .git.default.email }}
  email = {{ . }}
{{- end }}
{{- with .git.default.key }}
  signingkey = {{ joinPath $.chezmoi.homeDir ".ssh" . }}
{{- end }}
{{- end }}
{{- with .git.default.key }}
[core]
  sshCommand = "ssh -i '{{ joinPath $.chezmoi.homeDir ".ssh" . }}' -o IdentitiesOnly=yes"
{{- end }}

{{- range $rule := .git.rules }}

{{- if dig "dirs" nil $rule.match }}
{{- range $rule.match.dirs }}
[includeIf "gitdir:{{ . }}/**"]
  path = ~/.config/git/rules/{{ $rule.name }}
{{- end }}

{{- else }}
{{- $host := $rule.match.host }}
{{- $suffix := "" }}
{{- with dig "repo" "" $rule.match }}{{ $suffix = . }}{{ end }}
{{- with dig "owner" "" $rule.match }}{{ $suffix = printf "%s/%s" . $suffix }}{{ end }}
{{- $suffix = trimSuffix "/" $suffix }}
{{- if not $suffix }}{{ $suffix = "**" }}{{ end }}

[includeIf "hasconfig:remote.*.url:git@{{ $host }}:{{ $suffix }}/**"]
  path = ~/.config/git/rules/{{ $rule.name }}
[includeIf "hasconfig:remote.*.url:ssh://git@{{ $host }}/{{ $suffix }}/**"]
  path = ~/.config/git/rules/{{ $rule.name }}
[includeIf "hasconfig:remote.*.url:https://{{ $host }}/{{ $suffix }}/**"]
  path = ~/.config/git/rules/{{ $rule.name }}

{{- end }}
{{- end }}

[include]
  path = ~/.config/git/local

{{- end }}
