### Cursor ###
.cursor/

### Claude Code ###
.claude/

### C++ ###

# ClangD LSP for C++
/.cache/clangd/

### Python ###

# virtualenv
.venv/
.venv.bak/
venv/
venv.bak/

# ruff stuff
.ruff_cache/

### ZSH ###
*.zwc

{{- output "git" "ignore" "macos" }}
