{{- if .app.helix -}}

# Helix editor repo-specific configuration
/.helix/

{{- end }}

{{- if .lang.cpp }}

# ClangD LSP for C++
/.cache/clangd/

{{- end }}

{{- if .lang.python }}

# virtualenv
.venv/
.venv.bak/
venv/
venv.bak/

# ruff stuff
.ruff_cache/

{{- end }}
