{{- if .lang.java -}}

return {
  root_markers = {
    {
      -- Multi-module projects
      'mvnw', -- Maven
      'gradlew', -- Gradle
      'settings.gradle', -- Gradle
      'settings.gradle.kts', -- Gradle
      'WORKSPACE', -- Bazel projects
      'WORKSPACE.bazel',  -- Bazel projects
      '.git',
    },
    {
      -- Single-module projects
      'build.xml', -- Ant
      'pom.xml', -- Maven
      'build.gradle', -- Gradle
      'build.gradle.kts', -- Gradle
      'MODULE.bazel',  -- Bazel projects
    },
  },
}

{{- end }}
