{{- if .helix.enabled -}}

theme = "catppuccin_{{ includeTemplate "catppuccin-flavor" . }}"

[editor]
cursorline = true
auto-save = true
bufferline = "multiple"
color-modes = true

[editor.statusline]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.soft-wrap]
enable = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "block"

[editor.file-picker]
hidden = false

[editor.whitespace.render]
tab = "all"

[editor.indent-guides]
render = true

[keys.normal.space]
C-f = "file_picker_in_current_buffer_directory"

[keys.insert]
"C-[" = "normal_mode"

{{- end }}
