font_family {{ .terminal.font.liga_family }}
font_size {{ .terminal.font.size }}.0

disable_ligatures cursor

macos_option_as_alt yes

tab_fade 0.33 0.66 1.0

cursor_blink_interval 0
shell_integration no-cursor

map ctrl+[ send_key Escape

enabled_layouts tall,fat

include ~/.config/kitty/catppuccin/themes/{{ .ui.palette }}.conf
