{{- if .app.tmux -}}

set -g mouse on
set -g default-terminal "tmux-256color"
set -g focus-events on

# no session indicator
set -g status-left ""

# short hostname
set -g @catppuccin_host_text " #h"
set -g status-right "#{E:@catppuccin_status_host}"

# use window names instead of window titles
set-option -g automatic-rename off
set -g @catppuccin_window_text " #W"
set -g @catppuccin_window_current_text " #W"

# load catppuccin
set -g @catppuccin_flavor {{ .ui.theme.catppuccin | quote }}
run ~/.config/tmux/plugins/catppuccin/catppuccin.tmux

{{- end }}
