{{- if .input.mouse.linear }}
{
  "schemes": [
    {
      "if": {
        "device": {
          "category": "mouse"
        }
      },
      "scrolling": {
        "reverse": {
          "horizontal": true
        },
        "speed": 0,
        "acceleration": 0.5,
        "distance": "auto"
      },
      "pointer": {
        "speed": 0,
        "disableAcceleration": true,
        "acceleration": 1.2
      },
      "buttons": {
        "mappings": [
          {
            "control": false,
            "option": false,
            "shift": false,
            "button": 5,
            "action": "missionControl",
            "command": false
          }
        ],
        "universalBackForward": true
      }
    }
  ],
  "$schema": "https://schema.linearmouse.app/0.10.0"
}
{{- end }}
