return {
  {
    -- disable the default theme in flavour of catppuccin
    "folke/tokyonight.nvim",
    enabled = false,
  },
  {
    "catppuccin/nvim",
    opts = {
      flavour = {{ .ui.theme.catppuccin | quote }},
      auto_integrations = true,
      custom_highlights = function(C)
        return {
          WinSeparator = { fg = C.overlay0 },
        }
      end,
    },
  },
  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = "catppuccin",
    },
  }
}
