return {
  {
    "folke/trouble.nvim",
    opts = {
      modes = {
        symbols = {
          win = { position = "top" },
        },
        lsp = {
          win = { position = "top" },
        },
      },
    },
  },
  {
    "folke/todo-comments.nvim",
    opts = {
      highlight = {
        -- vim regex to support both "TOOD:" and "TODO(...):"
        pattern = [[.*<((KEYWORDS)%(\(.{-1,}\))?):]],
      },
      search = {
        -- ripgrep regex to support both "TOOD:" and "TODO(...):"
        pattern = [[\b(KEYWORDS)(\([^\)]*\))?:]],
      },
    },
  },
  {
    -- dyamically change cursor + cursorline colors
    "rasulomaroff/reactive.nvim",
    opts = {
      load = {
        '{{ printf "catppuccin-%s-cursor" .ui.theme.catppuccin }}',
        '{{ printf "catppuccin-%s-cursorline" .ui.theme.catppuccin }}',
      },
    },
  },
  {
    -- harpoon at last cursor position
    "cbochs/grapple.nvim",
    dependencies = {
      { "nvim-tree/nvim-web-devicons", lazy = true },
    },
    opts = {
      scope = "git",
    },
    event = { "BufReadPost", "BufNewFile" },
    cmd = "Grapple",
    keys = function()
      local keys = {
        { "<leader>H", "<cmd>Grapple toggle<cr>", desc = "Harpoon File" },
        { "<leader>h", "<cmd>Grapple toggle_tags<cr>", desc = "Harpoon Quick Menu" },
        { "<leader><c-H>", "<cmd>Grapple toggle scope=global<cr>", desc = "Harpoon File (global scope)" },
        { "<leader><c-h>", "<cmd>Grapple toggle_tags scope=global<cr>", desc = "Harpoon Quick Menu (global scope)" },
      }

      for i = 1, 9 do
        table.insert(keys, {
          "<leader>" .. i,
          "<cmd>Grapple select index=" .. i .. "<cr>",
          desc = "Harpoon to File " .. i,
        })
        table.insert(keys, {
          "<leader><c-" .. i .. ">",
          "<cmd>Grapple select scope=global index=" .. i .. "<cr>",
          desc = "Harpoon to File " .. i .. " (global scope)",
        })
      end
      return keys
    end,
  },
  {
    "mikavilpas/yazi.nvim",
    event = "VeryLazy",
    dependencies = {
      { "nvim-lua/plenary.nvim", lazy = true },
    },
    keys = {
      {
        "<leader>fy",
        "<cmd>Yazi<cr>",
        desc = "Yazi",
      },
    },
    opts = {
      -- open in place of netrw
      open_for_directories = true,
    },
    init = function()
      -- mark netrw as loaded so it's not loaded at all
      vim.g.loaded_netrwPlugin = 1
    end,
  },
}
