{{- if .app.mpv -}}

profile=gpu-hq

# experimental gpu output with DV support
vo=gpu-next

# hardware accelerated decoding whenever possible
hwdec=auto-copy

# support spatial audio
ao=avfoundation

{{- end }}
