{{- if .lang.java -}}

return {
  {
    "mfussenegger/nvim-jdtls",
    opts = {
      settings = {
        java = {
          import = {
            bazel = {
              disabled = false,
            },
          },
        },
      },
      jdtls = function(opts)
        vim.list_extend(opts.init_options.bundles, vim.fn.glob(
          vim.env.HOME .. "/.local/share/bazel-eclipse/plugins/*.jar",
          false,
          true
        ))
      end,
    },
  },
}

{{- end }}
