{{- if .lang.java -}}

return {
  {
    "Chazmus/bazel-java.nvim",
  },
  {
    "mfussenegger/nvim-jdtls",
    dependencies = { "Chazmus/bazel-java.nvim" },
    opts = function(_, opts)
      require("bazel-java").setup_jdtls(opts)
    end
  },
}

{{- end }}
