{{- if .app.kitty -}}

update_check_interval 0

font_family {{ .kitty.font.family }}
font_size {{ .kitty.font.size }}.0

disable_ligatures cursor

shell_integration disabled

macos_option_as_alt yes

tab_fade 0.33 0.66 1.0

enabled_layouts tall,fat,vertical,horizontal,stack

scrollback_lines 20000
scrollback_pager_history_size 1024

include ~/.config/kitty/catppuccin/themes/{{ includeTemplate "ui.catppuccin.palette" . }}.conf

kitty_mod cmd

clear_all_shortcuts yes

map ctrl+[              send_key escape

# scrolling
map kitty_mod+u         scroll_to_prompt -1
map kitty_mod+d         scroll_to_prompt 1
map kitty_mod+k         scroll_line_up
map kitty_mod+j         scroll_line_down
map kitty_mod+p         show_scrollback

# window management
map kitty_mod+enter     new_window_with_cwd
map kitty_mod+n         new_os_window_with_cwd
map kitty_mod+w         close_window
map kitty_mod+l         next_layout
map kitty_mod+[         previous_window
map kitty_mod+]         next_window
map kitty_mod+1         first_window
map kitty_mod+2         second_window
map kitty_mod+3         third_window
map kitty_mod+4         fourth_window
map kitty_mod+5         fifth_window
map kitty_mod+6         sixth_window
map kitty_mod+7         seventh_window
map kitty_mod+8         eighth_window
map kitty_mod+9         ninth_window
map kitty_mod+0         tenth_window

# tab management
map ctrl+tab            next_tab
map kitty_mod+.         move_tab_forward
map kitty_mod+,         move_tab_backward
map kitty_mod+t         new_tab_with_cwd

# font sizes
map kitty_mod+plus      change_font_size all +1.0
map kitty_mod+equal     change_font_size all +1.0
map kitty_mod+minus     change_font_size all -1.0
map kitty_mod+backspace change_font_size all 0

# select and insert
map kitty_mod+i>h       kitten hints --type hash --program -
map kitty_mod+i>i       kitten hints --type ip --program -
map kitty_mod+i>l       kitten hints --type line --program -
map kitty_mod+i>n       kitten hints --type linenum --program -
map kitty_mod+i>p       kitten hints --type path --program -
map kitty_mod+i>r       kitten hints --type regex --program -
map kitty_mod+i>u       kitten hints --type url --program -
map kitty_mod+i>w       kitten hints --type word --program -

# select and open
map kitty_mod+o>p       kitten hints --type path
map kitty_mod+o>u       kitten hints --type url

# miscellaneous
map kitty_mod+r         load_config_file
map kitty_mod+;         debug_config
map kitty_mod+ctrl+f    toggle_fullscreen
map kitty_mod+f         toggle_maximized
map kitty_mod+h         hide_macos_app
map kitty_mod+m         minimize_macos_window
map kitty_mod+q         quit
map kitty_mod+c         copy_to_clipboard
map kitty_mod+v         paste_from_clipboard

# create mouse bindings from scratch
clear_all_mouse_actions yes

#         input               mouse-type  mode      actions
mouse_map left                click       ungrabbed mouse_handle_click selection prompt
mouse_map kitty_mod+left      click       ungrabbed mouse_handle_click link
mouse_map left                press       ungrabbed mouse_selection normal
mouse_map left                doublepress ungrabbed mouse_selection word
mouse_map left                triplepress ungrabbed mouse_selection line
mouse_map right               press       ungrabbed mouse_selection extend

{{- end }}
