{{- if .app.kitty -}}

# Edit files with line-number in fragments
protocol file
fragment_matches [0-9]+
action launch --copy-env --cwd=current ${EDITOR} +${FRAGMENT} -- ${FILE_PATH}

# Edit files without line-number in fragments
protocol file
action launch --copy-env --cwd=current ${EDITOR} -- ${FILE_PATH}

{{- end }}
