{{- if .app.opencode -}}

{{- $sep := ternary "," "" (and .app.lm_studio .opencode.private.enabled) -}}

{
  "$schema": "https://opencode.ai/config.json",
  "theme": "catppuccin-{{ .ui.theme.catppuccin }}",
  "plugin": [
{{- if .app.lm_studio }}
    "opencode-lmstudio@latest"
{{- end }}
  ],
  "enabled_providers": [
{{- if .app.lm_studio }}
    "lmstudio" {{- $sep }}
{{- end }}
{{- if .opencode.private.enabled }}
    {{ .opencode.private.provider.id | quote }}
{{- end }}
  ],
  "keybinds": {
    "command_list": "alt+p",
  },
  "provider": {
{{- if .opencode.private.enabled }}
    {{ .opencode.private.provider.id | quote }}: {
      "npm": "@ai-sdk/openai-compatible",
      "name": {{ .opencode.private.provider.name | quote }},
      "options": {
        "baseURL": {{ printf "{env:%s}" .opencode.private.provider.env.baseURL | quote }},
        "apiKey": {{ printf "{env:%s}" .opencode.private.provider.env.apiKey | quote }},
      },
      "models": {
        {{ .opencode.private.provider.model.id | quote }}: {
          "name": {{ .opencode.private.provider.model.name | quote }},
        }
      }
    }
{{- end }}
  },
  "mcp": {
{{- if .app.searxng }}
    "SearXNG": {
      "type": "remote",
      "url": "http://localhost:3000/mcp"
    }
{{- end }}
  }
}

{{- end }}
