{{- if .app.opencode -}}

{{- $models := dict }}
{{- range .opencode.provider.models }}
{{- $models = set $models . (dict) }}
{{- end }}

{
  "$schema": "https://opencode.ai/config.json",
  "theme": "catppuccin-{{ .ui.theme.catppuccin }}",
  "enabled_providers": [
    {{ .opencode.provider.id | quote }}
  ],
  "keybinds": {
    "command_list": "alt+p",
  },
  "provider": {
    {{ .opencode.provider.id | quote }}: {
      "npm": "@ai-sdk/openai-compatible",
      "name": {{ .opencode.provider.name | quote }},
      "options": {
        "baseURL": {{ printf "{env:%s}" .opencode.provider.env.baseURL | quote }},
        "apiKey": {{ printf "{env:%s}" .opencode.provider.env.apiKey | quote }},
      },
      "models": {{ $models | toJson }}
    }
  },
  "mcp": {
{{- if .app.searxng }}
    "SearXNG": {
      "type": "remote",
      "url": "http://localhost:{{ .searxng.mcp.port }}/mcp"
    }
{{- end }}
  }
}

{{- end }}
