{{- if and .ui.theme.is_auto -}}

import Cocoa

func apply() {
	let task = Process()
	task.launchPath = {{ .chezmoi.executable | quote }}
	task.arguments = [ "apply" ]
	task.environment = ProcessInfo.processInfo.environment
	task.launch()
	task.waitUntilExit()
}

apply()

DistributedNotificationCenter.default.addObserver(
	forName: Notification.Name("AppleInterfaceThemeChangedNotification"),
	object: nil,
	queue: nil) { (notification) in
		apply()
}

NSWorkspace.shared.notificationCenter.addObserver(
	forName: NSWorkspace.didWakeNotification,
	object: nil,
	queue: nil) { (notification) in
		apply()
}

NSApplication.shared.run()

{{- end }}
