{{- if .ai.on.local -}}

#!/usr/bin/env bash

set -euo pipefail

COMMAND="${1}"
shift

BASE_URL='http://localhost:{{ .ai.local.provider.port }}'

function pull {
  MODEL="${1}";
  llama-cli --prompt '/exit' -hf "${MODEL}";
}

function call {
  local CURL_ARGS=(-s)

  local ENDPOINT="${1}"
  shift

  CURL_ARGS+=("${BASE_URL}/${ENDPOINT}")

  if [[ ${#} -gt 0 ]]; then
    local MODEL="${1}"
    shift

    CURL_ARGS+=(
      -d
      "{ \"model\": \"${MODEL}\" }"
    )
  fi

  curl "${CURL_ARGS[@]}"
}

case "${COMMAND}" in
pull) pull "${1}" ;;
pull-all)
  {{- range .ai.local.models }}
  pull {{ .id | quote }}
  {{- end }}
  ;;
load)
  call models/load "${1}" ;;
unload)
  call models/unload "${1}" ;;
models)
  call models | jq -r '.data[].id' ;;
ps)
  call models | jq -r '.data.[] | select(.status.value == "loaded") | .id' ;;
*)
  echo "Unknown command: ${COMMAND}"
  exit 1
  ;;
esac

{{- end }}
