{{- if .app.llama -}}

#!/usr/bin/env bash

set -euo pipefail

PLIST="${HOME}/Library/LaunchAgents/com.example.llama.cpp.plist"

COMMAND="${1}"
shift

ALL_MODELS=(
  {{- range .llama.models }}
  {{ .id | quote }}
  {{- end }}
)

TARGET_MODELS=("${@:-${ALL_MODELS[@]}}")

BASE_URL='http://localhost:{{ .llama.port }}'

function pull {
  for MODEL in "${TARGET_MODELS[@]}"; do
    llama-cli --prompt '/exit' -hf "${MODEL}"
  done
}

function get {
  local ENDPOINT="${1}"
  curl -s "${BASE_URL}/${ENDPOINT}"
}

function post {
  local ENDPOINT="${1}"
  for MODEL in "${TARGET_MODELS[@]}"; do
    curl -s "${BASE_URL}/${ENDPOINT}" -d "{ \"model\": \"${MODEL}\" }" | jq .
  done
}

case "${COMMAND}" in
pull) pull ;;
load) post models/load ;;
unload) post models/unload ;;
models) get models | jq -r '.data[].id' ;;
ps) get models | jq -r '.data.[] | select(.status.value == "loaded") | .id' ;;
restart) launchctl unload "${PLIST}" && sleep 0.1 && launchctl load "${PLIST}" ;;
*)
  echo "Unknown command: ${COMMAND}"
  exit 1
  ;;
esac

{{- end }}
