{{- if .app.zsh -}}

#!/usr/bin/env zsh

# Wrapper around fzf which removes --color and --bind params from arguments
# to avoid inconsistent colors and keybinds

FILTERED_ARGS=()

ARGS_TO_REMOVE=('color')

while [[ $# -gt 0 ]]; do
  local matched=false
  for match in "${ARGS_TO_REMOVE[@]}"; do
    case "${1}" in
      --${match}=*)
        shift 1
        matched=true
        ;;
      --${match})
        shift 2
        matched=true
        ;;
      *)
        matched=false
        ;;
    esac
  done

  if ! ${matched}; then
    FILTERED_ARGS+=(${1})
    shift
  fi
done

export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'

source ~/.config/fzf/catppuccin/themes/catppuccin-fzf-{{ .ui.theme.catppuccin }}.sh

exec "${HOMEBREW_PREFIX}/bin/fzf" "${FILTERED_ARGS[@]}"

{{- end }}
