#!/usr/bin/env sh

{{- if ne (len .ui.theme.dynamic.files) 0 }}

{{ .chezmoi.executable | quote }} apply --init -- {{- range .ui.theme.dynamic.files }} {{ . | quote }}{{ end }}

{{- end }}

{{- if ne (len .ui.theme.dynamic.commands) 0 }}

{{ range .ui.theme.dynamic.commands }}{{ . }}{{ end }}

{{- end }}
