{{- if .app.zsh -}}

#!/usr/bin/env zsh

# Wrapper around fzf which removes --color params from arguments
# and uses hardcoded (templated) values instead

FILTERED_ARGS=()

local prev_color=false

for arg in "${@}"; do
  # filter out single args of the form `--color=*`
  if [[ ${arg} == --color=* ]]; then
    prev_color=false
    continue
  fi

  # filter out --color and mark next arg (color value) to be filtered out
  if [[ ${arg} == --color ]]; then
    prev_color=true
    continue
  fi

  # filter out the color value if previous arg was --color
  if ${prev_color}; then
    prev_color=false
    continue
  fi

  FILTERED_ARGS+=("${arg}")
done

{{- if .app.fd }}

export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'

{{- end }}

export FZF_DEFAULT_OPTS={{ includeTemplate "zsh.fzf.opts" . | quote }}

exec "${HOMEBREW_PREFIX}/bin/fzf" "${FILTERED_ARGS[@]}"

{{- end }}
