return {
  {
    "catppuccin/nvim",
    opts = {
      background = {
        light = {{ .ui.theme.catppuccin.light | quote }},
        dark = {{ .ui.theme.catppuccin.dark | quote }},
      },
      transparent_background = true,
    },
  },
  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = "catppuccin",
    },
  }
}
