return {
  {
    "catppuccin/nvim",
    opts = {
      flavour = {{ .ui.theme.catppuccin | quote }},
    },
  },
  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = "catppuccin",
    },
  }
}
