{{- if .app.zellij -}}

theme "tokyonight_{{ .ui.theme.tokyonight }}"

show_startup_tips false

{{ $lock := ("Ctrl ]" | quote) }}

default_mode "locked"
keybinds clear-defaults=true {
  locked {
    bind {{ $lock }} { SwitchToMode "normal"; }
  }
  shared_except "locked" {
    bind {{ $lock }} { SwitchToMode "locked"; }
    bind "Ctrl d" { Detach; }
    bind "Ctrl q" { Quit; }

    bind "Alt n" { NewPane; }
    bind "Alt l" { NewPane "right"; }
    bind "Alt j" { NewPane "down"; }
    bind "Alt k" { NewPane "stacked"; }

    bind "Alt t" { NewTab; }

    bind "Ctrl h" { MoveFocusOrTab "left"; }
    bind "Ctrl l" { MoveFocusOrTab "right"; }
    bind "Ctrl k" { MoveFocus "up"; }
    bind "Ctrl j" { MoveFocus "down"; }

    bind "Ctrl H" { MovePane "left"; }
    bind "Ctrl L" { MovePane "right"; }

    bind "Ctrl ," { MoveTab "left"; }
    bind "Ctrl ." { MoveTab "right"; }

    bind "Ctrl 1" { GoToTab 1; SwitchToMode "locked"; }
    bind "Ctrl 2" { GoToTab 2; SwitchToMode "locked"; }
    bind "Ctrl 3" { GoToTab 3; SwitchToMode "locked"; }
    bind "Ctrl 4" { GoToTab 4; SwitchToMode "locked"; }
    bind "Ctrl 5" { GoToTab 5; SwitchToMode "locked"; }
    bind "Ctrl 6" { GoToTab 6; SwitchToMode "locked"; }
    bind "Ctrl 7" { GoToTab 7; SwitchToMode "locked"; }
    bind "Ctrl 8" { GoToTab 8; SwitchToMode "locked"; }
    bind "Ctrl 9" { GoToTab 9; SwitchToMode "locked"; }

    bind "Ctrl e" { TogglePaneEmbedOrFloating; }
    bind "Ctrl f" { ToggleFloatingPanes; }
    bind "Ctrl b" { TogglePaneFrames; }

    bind "Ctrl +" { Resize "Increase"; }
    bind "Ctrl -" { Resize "Decrease"; }
    bind "Ctrl =" { Resize "Increase"; }

    bind "Ctrl [" { PreviousSwapLayout; }
    bind "Ctrl ]" { NextSwapLayout; }
  }
  normal {
    bind "esc" { SwitchToMode "locked"; }
  }
  shared_except "locked" "normal" "renametab" "renamepane" {
    bind "esc" { SwitchToMode "normal"; }
  }
  shared_except "locked" "entersearch" {
    bind "enter" { SwitchToMode "locked"; }
  }
  renametab {
    bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
  }
  renamepane {
    bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
  }
  shared_except "locked" "pane" {
    bind "Ctrl p" { SwitchToMode "pane"; }
  }
  shared_except "locked" "move" {
    bind "Ctrl m" { SwitchToMode "move"; }
  }
  shared_except "locked" "resize" {
    bind "Ctrl r" { SwitchToMode "resize"; }
  }
  shared_except "locked" "tab" {
    bind "Ctrl t" { SwitchToMode "tab"; }
  }
  shared_except "locked" "scroll" {
    bind "Ctrl s" { SwitchToMode "scroll"; }
  }
  shared_except "locked" "entersearch" {
    bind "Ctrl /" { SwitchToMode "entersearch"; }
  }
  shared_except "locked" "session" {
    bind "Ctrl o" { SwitchToMode "session"; }
  }
  pane {
    bind "n" { NewPane; SwitchToMode "locked"; }
    bind "d" { CloseFocus; SwitchToMode "locked"; }
    bind "r" { SwitchToMode "renamepane"; }
    bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; }

    bind "i" { TogglePanePinned; SwitchToMode "locked"; }
    bind "t" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
    bind "f" { ToggleFocusFullscreen; SwitchToMode "locked"; }

    bind "h" { MoveFocus "left"; }
    bind "l" { MoveFocus "right"; }
    bind "k" { MoveFocus "up"; }
    bind "j" { MoveFocus "down"; }
  }
  move {
    bind "h" { MovePane "left"; }
    bind "l" { MovePane "right"; }
    bind "k" { MovePane "up"; }
    bind "j" { MovePane "down"; }

    bind "n" { MovePane; }
    bind "p" { MovePaneBackwards; }
  }
  resize {
    bind "h" { Resize "increase left"; }
    bind "l" { Resize "increase right"; }
    bind "k" { Resize "increase up"; }
    bind "j" { Resize "increase down"; }

    bind "H" { Resize "decrease left"; }
    bind "L" { Resize "decrease right"; }
    bind "K" { Resize "decrease up"; }
    bind "J" { Resize "decrease down"; }

    bind "+" "=" { Resize "Increase"; }
    bind "-" { Resize "Decrease"; }
  }
  tab {
    bind "n" { NewTab; SwitchToMode "locked"; }
    bind "d" { CloseTab; SwitchToMode "locked"; }
    bind "r" { SwitchToMode "renametab"; }
    bind "c" { SwitchToMode "renametab"; TabNameInput 0; }

    bind "1" { GoToTab 1; SwitchToMode "locked"; }
    bind "2" { GoToTab 2; SwitchToMode "locked"; }
    bind "3" { GoToTab 3; SwitchToMode "locked"; }
    bind "4" { GoToTab 4; SwitchToMode "locked"; }
    bind "5" { GoToTab 5; SwitchToMode "locked"; }
    bind "6" { GoToTab 6; SwitchToMode "locked"; }
    bind "7" { GoToTab 7; SwitchToMode "locked"; }
    bind "8" { GoToTab 8; SwitchToMode "locked"; }
    bind "9" { GoToTab 9; SwitchToMode "locked"; }

    bind "h" { GoToPreviousTab; }
    bind "k" { GoToPreviousTab; }
    bind "l" { GoToNextTab; }
    bind "j" { GoToNextTab; }

    bind "H" { MovePane "left"; }
    bind "L" { MovePane "right"; }
    bind "K" { MovePane "up"; }
    bind "J" { MovePane "down"; }
  }
  scroll {
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "locked"; }

    bind "e" { EditScrollback; SwitchToMode "locked"; }
    bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
  }
  entersearch {
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "scroll"; }

    bind "enter" { SwitchToMode "search"; }
  }
  search {
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "locked"; }

    bind "n" { Search "down"; }
    bind "N" { Search "up"; }
    bind "p" { Search "up"; }

    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "o" { SearchToggleOption "WholeWord"; }
    bind "w" { SearchToggleOption "Wrap"; }
  }
  session {
    bind "d" { Detach; }
    bind "a" {
      LaunchOrFocusPlugin "about" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "normal"
    }
    bind "c" {
      LaunchOrFocusPlugin "configuration" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "normal"
    }
    bind "p" {
      LaunchOrFocusPlugin "plugin-manager" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "normal"
    }
    bind "s" {
      LaunchOrFocusPlugin "zellij:share" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "normal"
    }
    bind "w" {
      LaunchOrFocusPlugin "session-manager" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "normal"
    }
  }
}

plugins {
  about location="zellij:about"
  compact-bar location="zellij:compact-bar"
  configuration location="zellij:configuration"
  filepicker location="zellij:strider" {
    cwd "/"
  }
  plugin-manager location="zellij:plugin-manager"
  session-manager location="zellij:session-manager"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  tab-bar location="zellij:tab-bar"
  welcome-screen location="zellij:session-manager" {
    welcome_screen true
  }
}

{{- end }}
